@font-face {
    font-family: 'SF Compact Rounded';
    src: url("./assets/fonts/sf-compact-rounded.ttf");
}

.content {

    h1 {
        font-family: "SF Compact Rounded";
    }

    .logo {
        width: 250px;
    }
}